<!doctype html>
<html lang="id">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JBME1NN8CD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JBME1NN8CD');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{META_TAGS}}
    <link rel="stylesheet" href="{{ROOT_PREFIX}}styles/main.css" />
    {{SCHEMA_SCRIPTS}}
  </head>
  <body>
    {{HEADER}}
    <main id="main-content">
      {{CONTENT}}
    </main>
    {{FOOTER}}
    <script src="{{ROOT_PREFIX}}scripts/main.js" defer></script>
  </body>
</html>
