{
  "name": "Hostinger",
  "host": "<host>",
  "protocol": "ftp",
  "port": 21,
  "username": "<username>",
  "remotePath": "/home/<user>/domains/<domain>/public_html",
  "uploadOnSave": false,
  "useTempFile": false,
  "openSsh": false,
  "secure": "control",
  "secureOptions": {
    "rejectUnauthorized": false
  }
}
